*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    margin: 20% auto;
    /* min-height: 60vh; */
    max-width: 18vw;
}

.wrapper{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    flex-wrap: wrap;
    background-color: black;

}
.output-screen{
    background-color: darkgray;
    height: 5vh;

    display: flex;
    justify-content: flex-end;
}

.input-row{
    display: flex;
    background-color: black;
    color: white;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-evenly;

}
.input-row:nth-child(2){
    margin-top: 5%;
}

.input-row:nth-child(6){
    justify-content: start;
    margin-left: 5%;
    margin-bottom: 5%;
}



.number-btn button{
    background-color: darkgrey;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    color: white;
    font-size: 1.5rem;
}
.operator-btn button{
    background-color: orange;
}