@font-face{
    font-family: 'Inter';
    src:
    local('Inter Regular'), 
    url('assets/fonts/Inter.ttf');
    font-weight: 400;
}

:root{
    
    --clr-primary: #10131C;
    --clr-secondary: #FFFF;
    --clr-blue:#293A8C;
    --clr-orange:#FF8182;
    --clr-secondary-background: #002060;
    --clr-hamburger-icon: #604000;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* margin:0; */
    padding-block-end: 5rem;
    font-family: 'Inter';
    src: url('assets/fonts/Inter.ttf');
    max-height: 100vh;
    
}

img{
    max-width: 100%;
    display: block;
}
/* Bootstrap navbar related */
.nav-link{
    color: var(--clr-secondary) !important;
    
}

.navbar-nav .nav-item a:hover{
    color: var(--clr-orange);
    background-color: transparent;
} 


.navbar-nav .dropdown-menu{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    background-color: transparent;

    min-width: 35vw;
    max-width: 45vw;
     
}

.navbar-nav .dropdown-item{
    color: var(--clr-secondary);

}

.navbar-light .container-fluid .navbar-toggler-icon {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 129, 130, 1)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    border: none;

}
.navbar-light .container-fluid .navbar-toggler:hover,
.navbar-light .container-fluid .navbar-toggler[aria-expanded="true"]{
    background-color:transparent !important;

}


/* Bootstrap navbar related --- ENDS HERE --- */


.logo-image{
    height:50px;
    margin-left: 2%;
}

/* Hero section code --- STARTS HERE --- */

.hero{
    min-height: 70vh;
    background: linear-gradient(180deg, #002060 0%, #59606F 100%);

    display: flex;
    flex-direction: column;
    text-align: center;

    color: var(--clr-secondary);
    font-size: 1.5rem;
    
}
.hero-text-button{
    margin: auto;
    /* margin: 10% auto 2% auto; */
}
.hero-text-button p{
    margin: 3% auto;
    font-size: 0.85em;
    text-align: center;
    line-height: 0.2rem;
}

/* button{
    width: 120px;
    height: 45px;
    background-color: #098ED1;
    color: white;
    border: none;
} */

/* .demo-button{
    margin-top: 3%;
    
    margin-bottom: auto; 

}  */


button:hover{
    background-color: var(--clr-orange);
}

img:hover{
    transform: scale(1.15,1.15);
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logos{
    display: flex;
    flex-direction: row;
    white-space: nowrap; /* is this needed? */
    overflow: hidden; /* prevents the horizontal scroll white screen */
    
}

.logos-slide{
    display: flex;
    flex-grow: 0; /* is this needed? */
    flex-shrink: 0;
    gap: 1.5em;
    animation: 20s slide infinite linear;
    /* border: 2px solid red; */
    margin-top: auto; /* Push it and following elements to the bottom */
    
}

/* Hero section code --- ENDS HERE --- */

/* About us section code --- STARTS HERE --- */

.about-us{
    min-height: 65vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-us h1{
    
    width: 50%;
    font-size: 2.75rem;
    text-align: center;
    margin: 5% auto;
    /* margin-bottom: 3%; */
}

.about-us p{
    
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.5em;
    text-align: center;

    margin-bottom: 3.5%;
}

/* About us section code --- ENDS HERE --- */

.blue-highlight{
    text-decoration: underline;
    color: var(--clr-blue);
}

.orange-highlight{
    text-decoration: underline;
    color: var(--clr-orange);
}

/* 3 STEP section code --- STARTS HERE --- */

.steps{

    background-color: var(--clr-secondary-background);
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    margin: 5% auto;

    font-size: 1.15rem;
    justify-content: center;

}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workflow-steps{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 3%;
    
    gap: 1.3em;

    font-size: 1.25rem;
}

.number{
    background-color: var(--clr-orange);
    height: 50px;
    width: 50px;
    display: inline-flex; /* Use inline-flex to keep the element inline while using flexbox */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    border-radius: 50%;
}

/* 3 STEP section code --- ENDS HERE --- */

/* CPR PROCESS section code --- STARTS HERE --- */

.service-methodology{
    width: 65vw;
    margin-left: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* gap: 1.25rem; */
    
}

/* CPR PROCESS section code --- ENDS HERE --- */

/* CPR PANEL section code --- STARTS HERE --- */

.our-reach{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 45vh;

    margin-bottom: 5%;
/*NOTE: this is only for the desktop view*/

}

.our-reach-title{
    margin: auto 0;
    font-size: 2.5rem;

}


.reach-stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: center;

}

.group h2,
.group p{
    text-align: center;
}

.figure-reach{
    text-align: center;
    font-size: 3.75rem;
    color: var(--clr-blue);
}

/* CPR PANEL section code --- ENDS HERE --- */

/* TESTIMONIAL section code --- STARTS HERE --- */

.testimonials{
    height: 60vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
}

.testimonials h1{
    margin-bottom: 3%;
}

.testimonial-carousel{
    /* border: 2px solid black; */
    height: 50vh;
}

.owl-carousel{
    /* border: 2px solid blue; */
    height: 40vh;
}

.user-details{
    display: grid;
    grid-template-columns: 20% 80%;

    align-items: center;
}

.user-img{
    height: 90%;
    width: 90%;
    /* height: 75px;
    width: 75px; */
    border-radius: 50%;
    display: inline-block;
}

.user-feedback{
    font-style: normal;
}

.card-local{
    width: 90%;
    /* border-radius: 15px; */
    background:linear-gradient(90deg, #002060 0%, #59606F 100%);
    color: white;
    
    padding: 5%;
    height: 40vh;
    display: flex;
    flex-direction: column;

    justify-content: center;

    /* text-align: center; */
    
}
.card-local h2{
    text-align: left;
    margin-left: 3%;

}

.card-local p{
    margin-left: 3%;
    text-align: left;
    font-size: .9rem;
    
}

.testimonial-carousel .owl-item .card-local{
    background: white;
    color: rgb(111, 110, 110);
    /* opacity: 0.55; */
}

.testimonial-carousel .owl-item.center .card-local{
    opacity: 1;
    background: linear-gradient(180deg, #002060 0%, #59606F 100%);
    color: white;
}

.user-img{
    margin-bottom: 15px;
}

.user-name-title{
    font-size: 1.2em;
}

.affiliations{
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affiliations img{
    width: 50%;
}


.services-banner{

    /* background-color: linear-gradient(#002060, white); */
    min-height: 60vh;
    width: 100%;
    display: grid;
    place-content:center;
    background-color: #002060;
    position: relative;
    z-index: 1;

    border: 2px solid black;


}
.services-banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;  /* for the cross axis */
    text-align: center;
    /* border: 2px solid yellow; */
    color: white;
    /* background: linear-gradient(#002060, white); */
    position: relative;
    z-index: 2;

    margin-top: -50vh;


}
.services-banner-content h1{
    width: 60%;
    margin-bottom: 4%;
}
/* .services-banner h1{
    width: 60%;
    color: white;
    margin-bottom: 2%;

    border: 2px solid red;
}
.services-banner img{
    width: 40%;
} */


.services-content{
    display: grid;
    grid-template-columns: 65% 35%;
}

.services-description{
    /* border: 2px solid black; */
    width: 90%;
    
}

.services-description li{
    margin-top: 7%;
    margin-left: 10%;
    list-style: none;
    font-size: 1.15rem;
}

.form-header-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    /* border: 2px solid red; */
    /* gap: 1.25rem; */
}

.form-header-content-wrapper h1{
    margin-bottom: 4%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

input,
textarea{
    width: 100%;
    padding: 10px;
}

#submit{
    
    width: 50%;
    border: none;
    background-color: var(--clr-blue);
    color: white;
    border-radius: 5px;
    font-size: 1.25rem;

}

#submit:hover{
    background-color: var(--clr-orange);

}

.about-us-banner{
    min-height: 35vh;
    min-width: 100%;
    background-color: #002060;
    /* min-width: 100px; */

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}


/* OLD-LAYOUT - OUR HISTORY

.our-history h2{
    width: 90%;
    margin: 2% auto;
}
.our-history p{
    width: 90%;
    text-align:start;
    margin: 2% auto;
}

.our-history-pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: none;

    margin: 0 auto;

    
    width: 90%;

}
figcaption{
    text-align: center;
}

.our-history-pics img{
    height: 65%;
    
} */

/* .our-history-wrapper{
    height: 100vh;
} */

.our-history{
    margin: 5% auto;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 35% 65%;

    height: 45vh;
   
}

.our-history-wrapper img:hover
{
    transform: none;
}

.our-history-pics{
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.our-history-content,
.our-history-content-2{

    margin-left: 3%;
    width: 90%;
    font-size: 15px;
    line-height: 1.5rem;
}

.our-history-content p{
    margin-bottom: 3%;
    text-align: start;
}

.our-history-content-2{
    margin-bottom: 3%;
}

.iphmr-wrapper{
    margin-left: 3%;
}
.iphmr-wrapper h2,p{
    text-align: start;
}

.iphmr-grid{
    display: flex;
    flex-direction: column; 
    
}

.iphmr-grid img{
    width: 90%;
    height: 90%;
    margin-bottom: 2%;
    /* margin: 2% auto; */
}

.our-team-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 4% auto;

    font-size: 1.25rem;
    
}

.our-team-container h1{
    margin: 2% auto;
}
.our-team-container p, 
.our-team-grid-container p{
    text-align: center;
}

.our-team-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3%;
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
    justify-items: center;
    
    text-align: center;
}

.our-team-grid-container img{
    /* border: 2px solid green; */
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.team-person{
    /* border: 2px solid red; */
    height: 85%
}

.testimonials-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact-wrapper{
    /* max-height: 100vh; */
    /* display: grid;
    grid-template-columns: 75% 25%; */

    display: flex;
    flex-direction: column;

}
.contact-form-wrapper{
    margin: 5% auto;
    text-align: center;
    
}
.contact-form-wrapper > h1,#submit{
    margin-bottom: 10%;
}
.contact-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.contact-details .info h3{
    color: var(--clr-orange);
    text-decoration: underline;
    margin-bottom: 5%;
}
.contact-details .info p{
    text-align: center;
}

/* .blue-background{
    background: var(--clr-secondary-background);
    position: relative;
    z-index: 1;
} */

.blue-background{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    

    height: 50vh;

    /* border: 2px solid red; */
}

.google-map iframe{
    /* position: relative; */
    display: block;
    /* margin-top: 20%; */
    
    height: 90%;
    max-width: 85%;
    /* z-index: 2; */
    /* margin-left: -50%; */

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}
.carousel-control-prev,
.carousel-control-next{
    margin: auto 0;
}

/* for MOBILE SCREENS */

@media (max-width: 700px){

    .navbar-nav{
        background: linear-gradient(180deg, #002060 0%, #59606F 100%);
        min-width: 35vw;
        max-width: 50vw;

        border-radius: 10px;
        text-align: center;

        color: var(--clr-orange);
    }

    .navbar-nav .dropdown-menu{

        min-width: 35vw;
        max-width: 50vw;
        background-color: var(--clr-secondary-background);
        
    }

    .hero-text-button h1{
        margin: auto;
        max-width: 90vw;
    }

    .ml-form-embedContent {
        display: flex;
        align-items: center;
        
        /* border: 2px solid red; */
    }

    .service-methodology{
        min-height: 60vh;
        min-width: 95vw;
        /* display: none; */
        margin: 5% auto;
        justify-content: center;
        
    }

    .service-methodology h1{
        font-size: 2rem;
        text-align: center;
        max-width: 90vw;
        
    }
    .our-reach{
        margin-bottom: 0px;

    }

    .our-reach-title{
        margin: 8% auto;
    
    }
    
    .our-reach .reach-stats {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
    }

    .testimonials{
        min-height: 80vh;
    }


    .testimonials h1{
        /* border: 2px solid brown; */
        margin: 5% auto;
        max-width: 95vw;
    }

    .affiliations{
        min-height: 25vh;
    }
    .affiliations img{
        max-height: 45vh;
        max-width: 60vw;
    }

    .our-history-wrapper{
        display: flex;
        flex-direction: column;
        /* grid-template-rows: 1fr 1fr 1fr 1fr; */
       
    }
    .our-history-wrapper h2,
    .our-history-wrapper p{
        text-align: center;

    }

    .our-history,
    .our-history-content-2{
        
        display: flex;
        flex-direction: column;
        /* height: 100vh; */
        /* border: 2px solid black; */
    }
    .our-history{
        min-height: 130vh;
    }
    .our-history-content{
        min-height: 90vh;
        margin-top: 5%;
       
    }
    .our-history-content-2{
        min-height: 90vh;
        margin: auto;
        
    }

    .iphmr-description{
        max-width: 90vw;

    }
   

    .our-team-container h1,
    .our-team-container p{
        margin-top: 10%;

    }
    .our-team-grid-container{
        display: flex;
        flex-direction: column;
    }
    .team-person{
        width: 65%;
        margin: 5% auto;
    }

    .testimonials-grid{
        display: flex;
        flex-direction: column;
    }

    .services-banner-content{
        min-height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-banner-content h1{
        font-size: 1.5rem;
       
    }

    .services-content{
        display: flex;
        flex-direction: column;
    }

    .contact-wrapper{
        display: flex;
        flex-direction: column;
    }

    .contact-details{
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }

    .blue-background{
        background-color: var(--clr-secondary);
        
        display: flex;
        flex-direction: column;
        height: 65vh;
    }

    .google-map iframe{
        display: block;
        margin: 10% auto;
    }

    .google-map{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .hero{
        min-height: 85vh;
    }
    .hero-text-button{
        padding-top: 10%;
    }
    .hero p{
        width: 85%;
        line-height: 1rem;
        font-size: 0.8rem;
        
    }
    .about-us {
        min-height: 85vh;
    }
    .about-us h1{
        /* margin-top: 8%; */
        width: 85%;
        font-size: 2.4rem;
    }

    .about-us p{
        font-size: 0.9rem;
        margin: 5% auto;
    }

    .steps h1{
        font-size: 1.5rem;
        max-width: 90vw;
    }

    .steps{
        margin: 5% auto;
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: center;
    }

    .workflow-steps{
       
        display: flex;
        flex-direction: column;
    }
    .arrow-img{
        display: none;
    }

    .reach-stats{
        display: grid;
       
    }

    .card-local{
        
        min-height: 55vh;
        min-width: 85vw;
        
       }

    .carousel-inner{
        min-height: 50vh;
    }

    footer img,
    footer .ms-3{
        display: none;
    }
    
    .ml-form-embedContent > p{
        /* display: none; */
        margin: auto !important; 
        margin-bottom: -15px !important;
        
    }

    .ml-input-horizontal {
        /* border: 2px solid red; */
        margin-bottom: -35px !important;
    }
    
    .ml-form-embedContent > p{
        display: none;

    }


   /* .desktop{
    display: none;
   } */



}

/* for other mobile SCREENS */
@media (min-width: 601px) and (max-width: 767px) {
    .testimonials{
        min-height: 75vh;
    }
    .testimonials h1{
        max-width: 90vw;
    }

    .card-local{
        
        min-height: 50vh;
        min-width: 50vw;
        max-width: 70vw;
    
    
    }
    .affiliations img{
        min-height: 35vh;
        min-width: 60vw;
        }
}



/* for TABLET SCREENS */
@media (min-width: 768px) and (max-width: 1024px) {

    .navbar-nav .dropdown-menu{

        min-width: 20vw;
        max-width: 30vw;
        background-color: var(--clr-secondary-background);
         
    }

    
    .card-local{
        
        height: 45vh;
        width: 50vw;
        
       }
    .workflow-steps{
        max-width: 90vw;
    }

    .step p{
        text-align: center;
    }

    .our-reach{
        
        min-height: 30vh;
        
    }
    
    .affiliations img{
    min-height: 30vh;
    min-width: 50vw;
    }

    footer img,
    footer .ms-3{
        display: none;
    }

    .our-history{
        max-height: 35vh;
    }

}

/* for OTHER SCREEN SIZES */
@media (min-width: 1001px) and (max-width: 1100px) {

    
    .card-local{
        
        height: 45vh;
        width: 40vw;
        
       }

    .affiliations img{
    min-height: 20vh;
    min-width: 35vw;
    }

    .services-content{

        height: 60vh;
    }

    .services-description{
        margin: auto;
    }



}

@media (min-width: 1101px) and (max-width: 1300px) {

    
    .card-local{
        
        height: 50vh;
        width: 40vw;
        
       }

    .affiliations img{
    min-height: 25vh;
    min-width: 40vw;
    }


}



