@font-face{
    font-family: 'Inter';
    src:
    local('Inter Regular'), 
    url('assets/fonts/Inter.ttf');
    font-weight: 400;
}

:root{
    
    --clr-primary: #10131C;
    --clr-secondary: #FFFF;
    --clr-blue:#293A8C;
    --clr-orange:#FF8182;
    --clr-secondary-background: #002060;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* margin:0; */
    padding-block-end: 5rem;
    font-family: 'Inter';
    src: url('assets/fonts/Inter.ttf');
    
}

img{
    max-width: 100%;
    display: block;
}
/* Bootstrap navbar related */
.nav-link{
    color: var(--clr-secondary) !important;
    
}

.navbar-nav .nav-item a:hover{
    color: var(--clr-orange);
    background-color: transparent;
} 


.navbar-nav .dropdown-menu{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    background-color: transparent;
    
}

.navbar-nav .dropdown-item{
    color: var(--clr-secondary);

}
/* Bootstrap navbar related --- ENDS HERE*/

nav{
    position: fixed;
    left: 0;
    top: 3%;
    width: 100%;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    list-style: none;
    margin: 0 15px;
}

nav a{
    color: var(--clr-secondary);
    text-decoration: none;
    /* text-transform: uppercase; */
}

nav a:hover{
    color: var(--clr-orange);
} 

.dropdown__menu{
    position: absolute;
    width: 18%;
    display: none;
    /* background-color: #002060; */
    /* width: 250px;
    padding: 5px;
} */
}
.dropdown__menu li{
    padding: 5px;
}
nav li:hover .dropdown__menu{
    display: block;
} 



.logo-image{
    height:50px;
    margin-left: 2%;
}

.menu{
    display: flex;
}

.hero{
    height: 70dvh;
    background: linear-gradient(180deg, #002060 0%, #59606F 100%);

    display: flex;
    flex-direction: column;
    text-align: center;

    color: var(--clr-secondary);
    font-size: 1.5rem;
    
}
.hero-text-button{
    margin: auto;
    /* margin: 10% auto 2% auto; */
}
.hero-text-button p{
    margin: 3% auto;
    font-size: 0.85em;
    text-align: center;
    line-height: 0.2rem;
}

button{
    width: 120px;
    height: 45px;
    background-color: #098ED1;
    color: white;
    border: none;
}

.demo-button{
    margin-top: 3%;
    margin-bottom: auto; /* Push following elements to the bottom */

}

button:hover{
    background-color: var(--clr-orange);
}

img:hover{
    transform: scale(1.15,1.15);
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logos{
    display: flex;
    flex-direction: row;
    white-space: nowrap; /* is this needed? */
    overflow: hidden; /* prevents the horizontal scroll white screen */
    
}

.logos-slide{
    display: flex;
    flex-grow: 0; /* is this needed? */
    flex-shrink: 0;
    gap: 1.5em;
    animation: 17s slide infinite linear;
    /* border: 2px solid red; */
    margin-top: auto; /* Push it and following elements to the bottom */
    
}



.about-us{
    height: 65dvh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-us h1{
    
    width: 50%;
    font-size: 2.75rem;
    text-align: center;
    margin-bottom: 3%;
}

.about-us p{
    
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.5em;
    text-align: center;

    margin-bottom: 3.5%;
}

.blue-highlight{
    text-decoration: underline;
    color: var(--clr-blue);
}

.orange-highlight{
    text-decoration: underline;
    color: var(--clr-orange);
}

.service-methodology{
    width: 65dvw;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.25rem;
    
}

.steps{
    background-color: var(--clr-secondary-background);
    height: 65dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    margin: 5% auto;
    

    font-size: 1.15rem;
    justify-content: center;

}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workflow-steps{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 3%;
    
    gap: 1.3em;

    font-size: 1.25rem;
}

.number{
    background-color: var(--clr-orange);
    height: 50px;
    width: 50px;
    display: inline-flex; /* Use inline-flex to keep the element inline while using flexbox */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    border-radius: 50%;
}

.our-reach{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45dvh;

    margin-bottom: 5%;

    /* border: 2px solid green; */
}

.our-reach-title{
    margin: auto 0;
    font-size: 2.5rem;
    /* border: 2px solid blue; */

}


.reach-stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    width: 100%;

    /* border: 2px solid red; */
}

.group h2,
.group p{
    text-align: center;
}

.figure-reach{
    
    text-align: center;
    font-size: 3.75rem;

    color: var(--clr-blue);
}



.testimonials{
    height: 60vh;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
}

.testimonials h1{
    /* border: 2px solid brown; */
    /* margin: 5% auto; */
    margin-bottom: 3%;
}

/* .testimonial-carousel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    border: 2px solid black;
    height: 80%;
}



.user-details{
    display: grid;
    grid-template-columns: 20% 80%;
}

.user-img{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    display: inline-block;
}

.user-feedback{
    font-style: italic;
}

.card{
    width: 80%;
    border-radius: 15px;
    background:linear-gradient(90deg, #002060 0%, #59606F 100%);
    color: white;
    height: 80%;
    
}
.card h2{
    text-align: left;
    margin-left: 3%;
}

.card p{
    margin-left: 3%;
    text-align: left;
    font-size: .85rem;
} */

.testimonial-carousel{
    /* border: 2px solid black; */
    height: 50vh;
}

.owl-carousel{
    /* border: 2px solid blue; */
    height: 40vh;
}

.user-details{
    display: grid;
    grid-template-columns: 20% 80%;

    align-items: center;
}

.user-img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
}

.user-feedback{
    font-style: normal;
}

.card-local{
    width: 90%;
    /* border-radius: 15px; */
    background:linear-gradient(90deg, #002060 0%, #59606F 100%);
    color: white;
    
    padding: 5%;
    height: 40vh;
    display: flex;
    flex-direction: column;

    justify-content: center;

    /* text-align: center; */
    
}
.card-local h2{
    text-align: left;
    margin-left: 3%;

}

.card-local p{
    margin-left: 3%;
    text-align: left;
    font-size: .9rem;
    
}

.testimonial-carousel .owl-item .card-local{
    background: white;
    color: rgb(111, 110, 110);
    /* opacity: 0.55; */
}

.testimonial-carousel .owl-item.center .card-local{
    opacity: 1;
    background: linear-gradient(180deg, #002060 0%, #59606F 100%);
    color: white;
}

.user-img{
    margin-bottom: 15px;
}

.user-name-title{
    font-size: 1.2em;
}

.affiliations{
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affiliations img{
    width: 40%;
}


.services-banner{

    /* background-color: linear-gradient(#002060, white); */
    min-height: 60vh;
    width: 100%;
    display: grid;
    place-content:center;
    background-color: #002060;
    position: relative;
    z-index: 1;

    border: 2px solid black;


}
.services-banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;  /* for the cross axis */
    text-align: center;
    /* border: 2px solid yellow; */
    color: white;
    /* background: linear-gradient(#002060, white); */
    position: relative;
    z-index: 2;

    margin-top: -50vh;


}
.services-banner-content h1{
    width: 60%;
    margin-bottom: 4%;
}
/* .services-banner h1{
    width: 60%;
    color: white;
    margin-bottom: 2%;

    border: 2px solid red;
}
.services-banner img{
    width: 40%;
} */


.services-content{
    display: grid;
    grid-template-columns: 65% 35%;
}

.services-description{
    /* border: 2px solid black; */
    width: 90%;
    
}

.services-description li{
    margin-top: 7%;
    margin-left: 10%;
    list-style: none;
    font-size: 1.15rem;
}

.form-header-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    /* border: 2px solid red; */
    /* gap: 1.25rem; */
}

.form-header-content-wrapper h1{
    margin-bottom: 4%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

input,
textarea{
    width: 100%;
    padding: 10px;
}

#submit{
    
    width: 50%;
    border: none;
    background-color: var(--clr-blue);
    color: white;
    border-radius: 5px;
    font-size: 1.25rem;

}

#submit:hover{
    background-color: var(--clr-orange);

}

.about-us-banner{
    min-height: 35vh;
    min-width: 100%;
    background-color: #002060;
    /* min-width: 100px; */

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}


/* OLD-LAYOUT - OUR HISTORY

.our-history h2{
    width: 90%;
    margin: 2% auto;
}
.our-history p{
    width: 90%;
    text-align:start;
    margin: 2% auto;
}

.our-history-pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: none;

    margin: 0 auto;

    
    width: 90%;

}
figcaption{
    text-align: center;
}

.our-history-pics img{
    height: 65%;
    
} */

.our-history{
    margin: 5% auto;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 35% 65%;

    height: 45vh;
   
}
.our-history-pics{
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.our-history-content{

    margin-left: 3%;
    width: 90%;
    font-size: 15px;
    line-height: 1.5rem;
}

.our-history-content h2,p{
    margin-bottom: 3%;
    text-align: start;
}
.iphmr-wrapper{
    margin-left: 3%;
}
.iphmr-wrapper h2,p{
    text-align: start;
}

.iphmr-grid{
    display: flex;
    flex-direction: column; 
    
}

.iphmr-grid img{
    width: 90%;
    height: 90%;
    /* margin: 2% auto; */
}

.our-team-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 4% auto;

    font-size: 1.25rem;
    
}

.our-team-container h1{
    margin: 2% auto;
}
.our-team-container p, 
.our-team-grid-container p{
    text-align: center;
}

.our-team-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3%;
    width: 90%;
    margin: auto;

   
    justify-items: center;
    
    text-align: center;
}

.our-team-grid-container img{
    /* border: 2px solid green; */
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.testimonials-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact-wrapper{
    max-height: 100vh;
    display: grid;
    grid-template-columns: 75% 25%;

}
.contact-form-wrapper{
    margin: 5% auto;
    text-align: center;
    
}
.contact-form-wrapper > h1,#submit{
    margin-bottom: 10%;
}
.contact-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.contact-details .info h3{
    color: var(--clr-orange);
    text-decoration: underline;
    margin-bottom: 5%;
}
.contact-details .info p{
    text-align: center;
}

.blue-background{
    background: var(--clr-secondary-background);
    position: relative;
    z-index: 1;
}

.google-map iframe{
    position: relative;
    display: block;
    margin-top: 20%;
    
    max-height: 100%;
    max-width: 95%;
    z-index: 2;
    margin-left: -50%;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}
.carousel-control-prev,
.carousel-control-next{
    margin: auto 0;
}

@media (max-width: 650px){

    .our-history-wrapper{
        display: grid;
        grid-template-rows: 1fr 1fr;
       
    }
    .our-history-wrapper h2,
    .our-history-wrapper p{
        text-align: center;

    }

    .our-history{
        
        display: flex;
        flex-direction: column;
    }
    .our-history-content{
        margin-top: 5%;
    }

    .iphmr-wrapper{
        margin-top: 25%;
        
    }


    .our-team-container h1,
    .our-team-container p{
        margin-top: 10%;

    }
    .our-team-grid-container{
        display: flex;
        flex-direction: column;
    }
    .team-person{
        width: 65%;
        margin: 5% auto;
    }

    .testimonials-grid{
        display: flex;
        flex-direction: column;
    }

    .services-banner-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-banner-content h1{
        font-size: 1.5rem;
       
    }

    .services-content{
        display: flex;
        flex-direction: column;
    }

    .contact-wrapper{
        display: flex;
        flex-direction: column;
    }

    .contact-details{
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }

    .blue-background{
        background-color: var(--clr-secondary);
        

    }

    .google-map iframe{
        display: block;
        margin: 10% auto;
    }

    .google-map{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .hero p{
        font-size: 0.8rem;
    }
    .about-us h1{
        margin-top: 8%;
        font-size: 1.75rem;
    }

    .about-us p{
        font-size: 1.1rem;
        margin: 5% auto;
    }

    .steps h1{
        font-size: 1.5rem;
    }

    .steps{
        margin: 5% auto;
    }

    .workflow-steps{
       
        display: flex;
        flex-direction: column;
    }
    .arrow-img{
        display: none;
    }

    .service-methodology h1{
        font-size: 1.3rem;
       
    }


    .reach-stats{
        display: grid;
       
    }

   .card-local{
    width: 80%;
   }



}
