@font-face{
    font-family: 'Inter';
    src:
    local('Inter Regular'), 
    url('assets/fonts/Inter.ttf');
    font-weight: 400;
}

:root{
    
    --clr-primary: #10131C;
    --clr-secondary: #FFFF;
    --clr-blue:#293A8C;
    --clr-orange:#FF8182;
    --clr-secondary-background: #002060;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* margin:0; */
    padding-block-end: 5rem;
    font-family: 'Inter';
    src: url('assets/fonts/Inter.ttf');
    
}

img{
    max-width: 100%;
    display: block;
}

nav{
    position: fixed;
    left: 0;
    top: 3%;
    width: 100%;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    list-style: none;
    margin: 0 15px;
}

nav a{
    color: var(--clr-secondary);
    text-decoration: none;
    /* text-transform: uppercase; */
}

nav a:hover{
    color: var(--clr-orange);
} 
.logo-image{
    height:50px;
    margin-left: 2%;
}

.menu{
    display: flex;
}

.hero{
    height: 70dvh;
    background: linear-gradient(180deg, #002060 0%, #59606F 100%);

    display: flex;
    flex-direction: column;
    text-align: center;

    color: var(--clr-secondary);
    font-size: 1.5rem;
    
}
.hero-text-button{
    margin: auto;
    /* margin: 10% auto 2% auto; */
}
.hero-text-button p{
   
    font-size: 0.85em;
    
}

button{
    width: 120px;
    height: 45px;
    background-color: #098ED1;
    color: white;
    border: none;
}

.demo-button{
    margin-top: 3%;
    margin-bottom: auto; /* Push following elements to the bottom */

}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logos{
    display: flex;
    flex-direction: row;
    white-space: nowrap; /* is this needed? */
    overflow: hidden; /* prevents the horizontal scroll white screen */
    
}

.logos-slide{
    display: flex;
    flex-grow: 0; /* is this needed? */
    flex-shrink: 0;
    gap: 1.5em;
    animation: 17s slide infinite linear;
    /* border: 2px solid red; */
    margin-top: auto; /* Push it and following elements to the bottom */
    
}



.about-us{
    height: 65dvh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-us h1{
    
    width: 50%;
    font-size: 2.75rem;
    text-align: center;
    margin-bottom: 3%;
}

.about-us p{
    
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.5em;
    text-align: center;

    margin-bottom: 3.5%;
}

.blue-highlight{
    text-decoration: underline;
    color: var(--clr-blue);
}

.orange-highlight{
    text-decoration: underline;
    color: var(--clr-orange);
}

.service-methodology{
    width: 65dvw;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.25rem;
    
}

.steps{
    background-color: var(--clr-secondary-background);
    height: 65dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    margin: 5% auto;
    

    font-size: 1.15rem;
    justify-content: center;

}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workflow-steps{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 3%;
    
    gap: 1.3em;

    font-size: 1.25rem;
}

.number{
    background-color: var(--clr-orange);
    height: 50px;
    width: 50px;
    display: inline-flex; /* Use inline-flex to keep the element inline while using flexbox */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    border-radius: 50%;
}

.our-reach{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45dvh;

    margin-bottom: 5%;

    /* border: 2px solid green; */
}

.our-reach-title{
    margin: auto 0;
    font-size: 2.5rem;
    /* border: 2px solid blue; */

}


.reach-stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    width: 100%;

    /* border: 2px solid red; */
}

.group h2,p{
    text-align: center;
}

.figure{
    /* border: 2px solid yellow; */
    text-align: center;
    font-size: 3.75rem;

    color: var(--clr-blue);
}

.testimonials{
    height: 60dvh;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
}

.testimonials h1{
    border: 2px solid brown;
    margin: 3% auto;
}

.testimonial-carousel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    border: 2px solid black;
    height: 80%;
}



.user-details{
    display: grid;
    grid-template-columns: 20% 80%;
}

.user-img{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    display: inline-block;
}

.user-feedback{
    font-style: italic;
}

.card{
    width: 80%;
    border-radius: 15px;
    background:linear-gradient(90deg, #002060 0%, #59606F 100%);
    color: white;
    height: 80%;
    
}
.card h2{
    text-align: left;
    margin-left: 3%;
}

.card p{
    margin-left: 3%;
    text-align: left;
    font-size: .85rem;
}
