:root{
    --clr-background: #2C6399;
    --clr-font-color: #ffffff;
}

*,
*::before,
*::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--clr-background);
    color: var(--clr-font-color);
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
}

h1{
    text-align: center;
}


.input-container{

    /* border: 2px solid red; */
    height: 30vh;
    width: 75%;
 
    display: flex;

    justify-content: space-evenly;

}

.group-1, .group-2{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    height: 100%;
}

.group-1{
    width: 15vw;
}

#spcl-options{
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 95%;
}

.button-container{
    /* border: 2px solid black; */
    width: 15%;
    height: 10%;

    display: flex;
    justify-content: center;

}

#submit{
    height: 55%;
    width: 50%;
}

