/*style the button that is used to open and close the collapsible content*/
.collapsible{
    background-color: #eeee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    padding: 18px;
    outline: none;
    font-size: 15px;
}
/*Add a background color to the button if it is clicked on (add the .active calls with JS),
and when you move the mouse over it (hover)*/
.active, .collapsible:hover {
    background-color: #ccc;
}

/*style the collapsible content. Note: Hidden by default*/
.content{
    padding: 0 18px;
    overflow: hidden;
    display: none;
    background-color: #f1f1f1;
}