:root{
    --clr-background: #2C6399;
    --clr-font-color: #ffffff;
}

*,
*::before,
*::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--clr-background);
    color: var(--clr-font-color);
    height: 100vh;
    width: 100vw;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

   
}

/* .container{
    border: 2px solid black;
    
  
} */

h1{
    text-align: center;
    margin-bottom: 2.5%;
    
}

.input-container{
    width: 80vw;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;

}

.grid-1{

    width: 60%;
    
}

.grid-2{

    width: 90%;
    
}

.input-field-container{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;

    margin-bottom: 5%;
}

.input-field-container-type-2{
    /* border: 2px solid black; */
    display: flex;
    /* flex-direction: column; */

    margin-bottom: 5%;
}

.input-field-container-type-2 #yes-no-list{
    margin-left: 2.5%;
}

.input-field-container-type-2 #fmnth{
    width: 30%;
    margin-left: 2.5%;
}

#specialties{
    height: 15vh;
}

.button-container {
    
    margin-left: 100%;
    margin-top: 10%;
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center the button horizontally */
    width: 100%; /* Ensure the container spans full width */
}

#submit {
    
    padding: 1.75% 3.5%;
}