:root{
    --ff-sans: 'Poppins', sans-serif;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;

    --fs-400: 0.9375rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;

    --clr-primary: #10131C;
    --clr-secondary: #FFFF;
    --clr-purple:#4733B9;
    --clr-orange:#FF8182;
    
    
    --clr-secondary-background: #4832BB;

    --clr-neutral-900: hsl(234, 12%, 34%);
    --clr-neutral-400: hsl(229, 6%, 66%);
    --clr-neutral-100: hsl(0, 0%, 98%);

    /* --clr-teal: hsl(180,58%, 56%);
    --clr-red: hsl(0, 70%, 60%);
    --clr-blue: hsl(212, 75%, 62%);
    --clr-yellow: hsl(34, 89%, 65%); */
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin:0;
    padding-block-end: 5rem;
}

img{
    max-width: 100%;
    display: block;
}


nav{
    position: fixed;
    left: 0;
    top: 3%;
    width: 100%;
    
    /* box-shadow: ; */
    /* float: right; */
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
   

}

.navbar .menu{
    margin-right: 3%;
    display: flex;
    /* border: 2px solid black; */
}

.navbar .logo{
    margin-left: 3%;
    /* border: 2px solid green; */
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    list-style: none;
    margin: 0 15px;
}

nav a{
    color: var(--clr-purple);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: var(--clr-secondary);
} 

.hero{
    
    background: linear-gradient(45deg, #D5E3FE 0%, #F4E5E8 100%);
    color: var(--clr-primary);
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 5% ;
    padding-bottom: 5%;

}

.hero-info{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
}

.hero-info > h1{
    text-align: center;
}

.hero > img{
    /* border: 2px solid black; */
    justify-content: start;
    width: 90%;
    height: 95%;

}

.store-logos{
    display: flex;
    justify-content: space-between;
    gap: 1.1rem;
    /* border: 2px solid red; */
    /* width: 35%; */
    /* object-fit: contain; */

}


.purple-highlight{
    color: var(--clr-purple);
    text-decoration: underline;
}

.orange-highlight{
    color: var(--clr-orange);
    text-decoration: underline;

}

.how-it-works{
    background-color: var(--clr-secondary-background);
    color: var(--clr-secondary);
    

    padding-top: 7%;
    padding-bottom: 2%;

}

.workflow-steps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    /* border: 2px solid yellow; */

    align-items: center;
    justify-items: center;

    padding-top: 3%;
    padding-bottom: 7%;

    font-size: 1.2rem;
    
}
.step{
    /* border: 2px solid orangered; */
    text-align: center;
    
}

.number{
    display: inline-flex; /* Use inline-flex to keep the element inline while using flexbox */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    background-color: var(--clr-orange);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
    
    /* border: 2px solid black; */
    
}

.how-it-works > h1{
    text-align: center;
}

.achievements{
    color: var(--clr-purple);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* align-items: center; */
    text-align: center;
    justify-items: center;

    padding-top: 10%;
    padding-bottom: 10%;

    font-size: 1.55rem;

    line-height: 0.32;

    
}

.achievements p{
    color: var(--clr-primary);
    
}

.card-1,
.card-3{
    line-height: 0.50;

}


.mood-log,
.daily-journal,
.ai-features{
    display: grid;
    grid-template-columns: 55% 45%;
    
    /* border: 2px solid black; */
    
}
.daily-journal{
    grid-template-columns: 45% 55%;
}


.text-description{
    text-align: center;
    align-content: center;
    font-size: 1.35rem;

    /* border: 2px solid red; */
}

.testimonials{
    /* border: 2px solid black; */
    text-align: center; /*for horizontal alignment of text in an element*/
}

.card-set{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
    
    
}
.card{
    width: 25%;
    
    background: linear-gradient(45deg, #D5E3FE 0%, #F4E5E8 100%);
    
}

.contact-us{
    background-color: var(--clr-purple);
    color: var(--clr-secondary);

    margin: 10% auto 3% auto;
}
